<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/register.css" />
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon"/>
    <title>House-OF-Bake</title>
  </head>
  <body>
     <nav class="navbar bg-dark">
        <h1>
          <a href="/"></i> House Of Bake </a>
        </h1>
       
      </nav>
      <section class="container">
        <p class="lead"><i class="fas fa-user"></i> Thank you.
        <br>
    Welcome to Our House of Bake.  </p>
      </section>
  </body>
</html>
